{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% use 'blocks/base.html.twig' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head deferred %}
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css') %}
    {% endblock %}

    {% block javascripts %}
        {# do assets.addJs('jquery', 101) #}
        {# do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) #}
        {# do assets.addJs('theme://js/site.js', {group:'bottom'}) #}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}
</head>

<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <header class="masthead">
        <div class="wrapper">
            <div class="logo">
                <img src="{{ theme_url }}/images/webwide-dark.svg" alt="Webwide" class="block" matter>
                <span>Community Magazine <span>New!</span></span>
            </div>

            <nav class="links">
                <ul>
                    <li><a href="/about/">About Webwide</a></li>
                    <li><a href="https://webwide.io/" target="_blank">Visit Forums</a></li>
                    <li><a href="/submit/" class="highlight">Submit Article</a></li>
                </ul>
            </nav>
        </div>
    </header>

    {% block body %}

    {% endblock %}

    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
