<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
    {% block head deferred %}
        <meta charset="utf-8" />
        <title>{% if page.title %}{{ page.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% include 'partials/metadata.html.twig' %}

        <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
        <link rel="canonical" href="{{ page.url(true, true) }}" />
    {% endblock head %}

    {% block stylesheets %}
        {% do assets.addCss('theme://css/style.css') %}
    {% endblock %}

    {% block javascripts %}
        {% do assets.addJs('theme://js/scripts.js', {group:'bottom'}) %}
    {% endblock %}

    {% block assets deferred %}
        {{ assets.css()|raw }}
        {{ assets.js()|raw }}
    {% endblock %}
</head>

<body id="top" class="has-spaced-navbar-fixed-top">
    <nav id="masthead" class="navbar is-fixed-top is-spaced" role="navigation" aria-label="main navigation">
        <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{ base_url }}">
            <img src="{{ theme_url }}/images/webwide-dark.svg" alt="Webwide">
            <span>Community Magazine <span>New!</span></span>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu">
        <div class="navbar-end">
        <a class="navbar-item">
            Home
          </a>

          <a class="navbar-item">
            Documentation
          </a>
          <div class="navbar-item">
            <div class="buttons">
              <a class="button is-success">
                <strong>Submit Article</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
        </div>
    </nav>

    {% block body %}

    {% endblock %}

{% block bottom %}
    {{ assets.js('bottom')|raw }}
{% endblock %}

</body>
</html>
